$primary_color: #fe6603;
$secondary_color: #6f90fc;
$nav_background_color: #0b2064;

$secondary_para_color: #6f90fc;

$white: #fff;

$background_color: #ededed;

$slider_dot_color: #585858;

$blog_title_background: #1b1c1e;

$footer_bg1: #353e83;
$text-color1: #999;
$bg_color1: #ededed;
$box-shadow1: 0 0 10px rgb(27 28 30 / 50%);
